<h1>Sign In</h1>

<form action="<%= session_url %>" method="post" accept-charset="utf-8">
	<%= get_auth_token %>
	<label>Email
		<input type="text" name="user[email]" id="user_email">
	</label>
	<label>Password
		<input type="password" name="user[password]" id="user_password">
	</label>

	<p><input type="submit" value="Sign in"></p>
</form>